# Ignorar dependências
node_modules/
backend/node_modules/
frontend/node_modules/

# Ignorar variáveis de ambiente
.env

# Ignorar arquivos do sistema
.DS_Store
Thumbs.db

# Ignorar logs
*.log
npm-debug.log*

# Ignorar pasta de build do React (caso use build futuramente)
frontend/build/

# Ignorar backups e temporários
*.bak
*.tmp
